* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*font-family:'Segoe UI';*/
    font-weight: 400;
    background-color:white;
    
}
.service{
   
    background:url("/pics/service-background.webp") no-repeat;
    background-size:100%;
    padding: 100px 0px;
    min-height: 550px;
    position: relative;
}

.service:before{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    background:rgba(255, 255, 255,0);
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

.service .picture{
    
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

    .service .picture h1 {
        font-weight: 500px;
        font-size: 50px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px rgb(0, 0, 0) ;
        position: relative;
        margin-top: 130px;
        text-align: center;
        transition: margin-left 1s;
    }
    
    .service .picture h1:hover {
      margin-left: 20px;
    }
    
      .service .picture p {
        font-weight: 400px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        position: relative;
        transition: margin-left 1s;
        text-align: center;
    }
    .service .picture p:hover {
      margin-left: 20px;
    }
    
    
  
  .header1{
    font-size: larger;
    padding: 5px;
    display: inline-block;
    position: relative;
    color: #323232;
    min-width: 200px;
    padding-left: 33%;
    text-shadow: 1px 1px 2px;
    color:rgb(20, 20, 83)
     }

.heading{
  text-align: center;
  padding-top: 60px;
  font-size: 35px;
  text-shadow: 1px 1px 1px;
  padding-bottom: 10px;
}
.content .heading{
  text-align: center;
  padding-top: 60px;
  font-size: 35px;
  text-shadow: 1px 1px 1px;
  padding-bottom: 10px;
}

     .picture1 {
        display: flex;
        align-items: center; /* Aligns items vertically in the center */
        background-color: white;
        margin-top: 10px;
        
      }
      .service1 .picture1 img {
        width: 40%;
        height:20; /* Adjust the width as needed */
        margin-right: 8px; /* Adds some space between the image and text */
        margin-left: 10px;
      }
      
      .service1 .picture1 h1{
        
        padding-left: 30PX;
        font-size: 30px;
        color: rgb(0, 0, 0);
        
      }
      
      .service1 .picture1 p b{
        font-size: 30px;
        color: black;
        
        /*font-family:'Times New Roman', Times, serif;*/
        
        
      }
      .service1 .picture1 p{
        font-size: 20px;
        color: black;
        text-align: justify;
       
    margin-right: 10px;
        /*font-family:'Times New Roman', Times, serif;*/
        
        
      }
      
    
.Content{
  float:inline-start;
    margin-left: 30px;
    align-items: center;
    justify-content: center;

}
.content h1{  font-size: 30px;
    font-family: sans-serif;
    color:black;
    margin-top: 25px;
    text-align: center;
    align-items: center;
  }
  
  .content p{
  font-size: 20px;
  /*font-family: serif;*/
  margin-top: 10px;
  line-height: 1.5;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;

  }
  
      .service2{
          padding-left: 100px;
          padding-right: 100px ;
          padding-bottom: 50px;
          padding-top: 50px;
      }
      
      .service2 .box-container{
          display: grid;
          gap:2.5rem;
          grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
        
      }
      
      .service2 .box-container .box {
          background-color: rgba(245, 234, 252, 0.766);
          border-radius: .5rem;
          box-shadow: 3px 3px 8px rgb(55, 56, 109);
          padding: 2rem;
          width:500px;
          margin: auto;
          
      }
      .service2 .box-container .box:hover {
        background-color: rgb(255, 255, 255);
        transform: scale(1.05);
    }
    
    .service2 .box-container .box img{
        width: 350px;
        height: 180px;
        margin-left:50px;
        float:none;
    
    }
    .service2 .box-container .box h3 {
        font-size: 1.5rem;
        text-align: center;
        color: rgb(27, 124, 143);
    
        
    }

    .picture3 {
        display: flex;
        align-items: center; /* Aligns items vertically in the center */
        background-color: white;
        padding-left:30px ;
        padding-right: 30px;
      }
      
      .service3 .picture3 img {
        width: 40%;
        height:20; /* Adjust the width as needed */
        margin-right: 2px; /* Adds some space between the image and text */
      }
      
      .service3 .picture3 .echo b {
        text-align: center;
        /*padding-left: 30px;*/
        font-size: 30px;
        color: rgb(46, 64, 59);
        
      }
      .service3 .picture3  p{
        font-size: 20px;
        color:black;
        text-align: justify;
        font-family:Arial;
        padding-left: 10px;
        
      }


      .service3 .picture3 .ecg b {
        text-align: center;
        /*padding-left: 30px;*/
        font-size: 30px;
        color: rgb(46, 64, 59);
        
      }
      
      .service3 .picture3 .ecg{
        padding-left: 40px;
      }
      
      section{
        background-color: rgb(171, 208, 196,.2);
      }



      .picture4 {
        display: flex;
        align-items: center; /* Aligns items vertically in the center */
        background-color: white;
        padding-bottom: 10px;
      }
      .service4 .picture4 img {
        width: 40%;
        height:20; /* Adjust the width as needed */
        margin-right: 2px; /* Adds some space between the image and text */
       padding-left: 10px;
       
      }
      
      .service4 .picture4 p b {
        
       
        font-size: 30px;
        color: rgb(46, 64, 59);
        
      }
      
      .service4 .picture4  p{
        font-size: 20px;
        color:black;
        font-family: Arial;
        text-align: justify;
        text-justify: inter-word;
        padding-right:15px ;
        padding-left: 10px;
   
      }
      section{
        background-color: rgb(171, 208, 196,.2);
      }
      

      /*header*/
      .header{
        padding: 15px 5%;
        position:relative;
        top:0; left:0; right:0;
        z-index: 1000;
        box-shadow: 0 5px 15px rgb(0, 0, 0,.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:rgb(255, 255, 255,.5);
        
    }
    .logo img{
        height:50px;
        width:60px;
    
    }
    
    .header .logo{
        font-size: 25px;
        color: rgb(31, 20, 93);
        display: flex;
    }
    
    .header .logo p{
        align-self: center;
    
    }
    
    .header .bar a{
        font-size: 18px;
        color: black;
        margin-left: 20px;
        transition: padding .5s;
    }
    .header .bar a:hover{
        color: rgb(176, 238, 252);
        background-color: rgb(16, 16, 73);
        padding: 8px;
    }
/*
    .box img:hover{
      transform: scale(1.05);
    }
    
*/